<div class="col-lg-2 height-fill no-padding" ng-controller="ProjectExplorerController">
    <div id="ProjectExplorer"
        @*ng-class="{'height-lg-5':state.name=='Project.Diagram'}" *@
        class="panel no-radius panel-default overflow-auto height-fill">
        <div class="panel-heading no-radius">
            <b>Project explorer</b>
        </div>
        <div class="panel-body" >
            <div 
                ng-if="project.loaded" 
                class="col-lg-12 no-padding projectExplorer">
                <div 
                    class="col-lg-12 no-padding pointer"
                    ng-dblclick="project.opened?closeFolder(project):openFolder(project)"
                    ng-context-menu="projectOptions"
                    ng-context-elem="project"><span class="glyphicon glyphicon-briefcase"></span> {{ project.Name }}</div>
                <div style="clear:both;"></div>
                <ul ng-show="project.opened">
                    <li ng-repeat="node in project.Items" 
                        ng-include="'/Template/Get/Node'"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
