<div class="col-lg-12 height-fill no-padding">
    <div class="panel height-fill" ng-controller="WorkingAreaController">
        <ul class="nav nav-tabs item-handlers">
            <li ng-repeat="item in ItemsInProcess"
                ng-class="{active:openedItem == item}">
                <a ng-if="item.ref.Type==2"
                    ui-sref="Project.Document({ID:item.ref.ID, projectId : project.ID})">
                    <span class="glyphicon glyphicon-file"></span> 
                    {{item.ref.Name}}
                    <span
                        ng-show="item.isDirty()"><strong>*</strong></span>
                    <span 
                        class="glyphicon glyphicon-remove pointer"
                        stop-propagation
                        ng-click="closeItem(item);"></span>
                </a>
                <a ng-if="item.ref.Type==3"
                    ui-sref="Project.Diagram({ID:item.ref.ID, projectId : project.ID})">
                    <span class="glyphicon glyphicon-picture"></span> 
                    {{item.ref.Name}}
                    <span 
                        class="glyphicon glyphicon-remove pointer"
                        stop-propagation
                        ng-click="closeItem(item);"></span>
                </a>

            </li>
        </ul>
        <div ng-show="openedItem.ref.Type==2">
            <textarea id="tinymce" ui-tinymce ng-model="openedDocument.dirtyContent"></textarea>
        </div>
        
        <div class="diagramEditor" ng-show="openedItem.ref.Type==3">
             <div class="height-fill" ng-include="'/Template/Get/DiagramEditor'"></div>
        </div>
    </div>
</div>
