<div>
    <div class="modal-body">
        <alert type="danger">
            <b>There was an error while processing your request.</b>
            <div class="height-1"></div>
            {{ Message }}
        </alert>
    </div>
    <div style="clear:both;"></div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()">Ok</button>
    </div>
</div>