@{ 
    //Път до елементите
    var p = "~/Views/Templates/EditorElements/";
}
@Html.Partial(p + "Menu.cshtml")
<div class="rde-container container-fluid">
    <div class="row height-fill">
        @Html.Partial(p + "ProjectExplorer.cshtml")
        <div class="col-lg-10 height-fill no-padding">
            @Html.Partial(p + "WorkingArea.cshtml")
        </div>
    </div>
</div>
