<div>
    <span
        class="pointer"
        ng-dblclick="(node.Type==1)?toggleFolder(node):openItem(node)"
        ng-context-menu="(node.Type==1)?folderOptions:(node.Type==2)?documentOptions:diagramOptions"
        ng-context-elem="node">
        <span
            class="glyphicon"
            ng-class="
                 {'glyphicon-folder-open': node.Type==1 && node.opened,
                  'glyphicon-folder-close': node.Type==1 && !node.opened,
                  'glyphicon-file': node.Type==2,
                  'glyphicon-picture': node.Type==3}"></span> {{node.Name}}
    </span>
    <ul ng-show="node.opened">
        <li 
            ng-repeat="node in node.Items" 
            ng-include="'/Template/Get/Node'"></li>
    </ul>
</div>
