<div class="container loginPanel">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading "><b class="col-lg-offset-1">Registration</b></div>
                <div class="panel-body">

                    <form class="form-horizontal" ng-controller="AccountController">
                        <fieldset>

                            <div class="form-group">
                                <div ng-if="serverError" class="col-lg-10 col-lg-offset-1 alert alert-danger">
                                    <b>Error!</b> {{ serverMessage }}
                                </div>
                                <div stlyle="clear:both;"></div>
                                <div class="col-lg-10 col-lg-offset-1">
                                    <input type="text" ng-model="registerModel.UserName" class="form-control" placeholder="Username" />
                                </div>
                                <div class="col-lg-10 col-lg-offset-1 height-1"></div>
                                <div class="col-lg-10 col-lg-offset-1">
                                    <input type="password" ng-model="registerModel.Password" class="form-control" placeholder="Password" />
                                </div>
                                <div class="col-lg-10 col-lg-offset-1 height-1"></div>
                                <div class="col-lg-10 col-lg-offset-1">
                                    <input type="password" ng-model="registerModel.ConfirmPassword" class="form-control" placeholder="Repeat password" />
                                </div>
                                <div class="col-lg-10 col-lg-offset-1 height-3"></div>
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <div class="col-lg-10 col-lg-offset-1">
                                    <button type="button" ng-click="Register()" class="btn btn-primary col-lg-12">Register</button>
                                    <div class="pull-left">
                                        <a href="" ng-click="GoBack()">Back</a>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
